
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Styles/IndexStyleSheet.css" />
    <title>Index</title>
</head>
<body>
    <div class="main">
        <div class="form_box">
            k
            <div class="welcome_header">
                Welcome!
            </div>
        </div>
    </div>
</body>
</html>
